
#tt{
  position: absolute;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
body{
    font-family: arial;
    background: #000;
  }
*{
  margin:0;
  box-sizing: border-box;
}
#arrowmove{
position: absolute;
display: flex;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
flex-direction: column;
align-items: center;
justify-content: center;
perspective: 100px;
transform: rotateY(2deg);
}
.arrow{
width: 1000px;
height: 1000px;
transform: rotateY(3deg);
 transform: rotate(45deg);
position:absolute;
opacity: 0;
margin-top: 10px;
animation: 4s  toitrois  linear infinite;
border-radius: 30px;
}
#arrow1{

 border-top: 100px solid white;
 border-left: 100px solid white;
margin-top: 150px;
 animation-delay: 0.50s ;
border-radius: 30px;

}
#arrow2{
   border-top: 100px solid white;
 border-left: 100px solid white;
margin-top: 400px;
 animation-delay: 0.25s ;
border-radius: 30px;

}
#arrow3{
   border-top: 100px solid white;
 border-left: 100px solid white;
margin-top: 650px;
 animation-delay: 0s;
border-radius: 30px;

}

.container {
  position:relative;
  width: 100%;
  height: 100vh;
  perspective: 250px;
  overflow-x: hidden;
    overflow-y: hidden;
}

#canvas {
  position: fixed;
  perspective: 250px;
 
}

#info {
  
  position: absolute;
  
}
  #Message{
    border: 1px solid #191919;
    position: relative;
     top: 20px;
    display: inline-block;
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    color: white;
    font-size: 20px;
    background-color:#191919 ;
    font-weight: bold;

  } 
  #bscor{
    position: relative;
 padding-left: 35px;
 font-size: 25px;
  }
  #bestscore{

position: relative;
height: 20px;
display: inline-flex;
 justify-content: center;
border-radius: 24px;
align-items: center;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
color: white;
 
  }
  #score{
  
  position: relative;
  top: -10px;
display: inline-flex;
 justify-content: center;
border-radius: 24px;
align-items: center;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
color: white;
font-size: 35px;


  }
  #info{
    
    position: relative;
    
    
    display: inline-flex;
    justify-content: center
    ;
    align-self: center;
    flex-direction: column;

  }

    #mod{
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0,0.4);
    position:fixed;
    z-index: 1000;
    
    }
    #modal{
      display: none;
      position:relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border: 1px solid linear-gradient(45deg,#641E16 ,#212F3D);
      width: 80%;
      height: 60vh; 
      z-index: 1000;
       background-image:linear-gradient(45deg,#641E16 ,#212F3D) ;
  animation:  2s animat;
   border-radius: 12px;

    }
    .close{

      position: absolute;
      right: 0;
      top: -15px;
      z-index: 1000;
     font-size: 50px;
    }
  #bestinfo{
      margin: 4px;
       border-radius: 24px;
     display: flex;
      align-items: center;
       height: 8vh;
       width: 90%;
  border: 1px solid white;
  font-size: 20px;

    }
    #messaginfo{

     
      display: flex;
      width: 90%;

       border: 1px solid #fff;
       border-radius: 24px;
      align-items: center;
      justify-content: center;
        font-weight: bold;
        height: 8vh;
        font-size: 20px;
    }
   
    #scorev{
     
      display: flex;
      font-weight: bold;
        border: 1px solid #fff;
        font-size: 20px;
         border-radius: 24px;
         height:6vh;
         align-items: center;
          width: 80%;
         
    }
    #content{
      height: 100%;
      width: 100%;
      display:flex;
      align-items: center;
       flex-direction: column;
  justify-content: space-around;
    }
    #play{
     border: 0;
      
        
         width: 80%;
         height: 8vh;
        display: flex;
            align-items: center;
           justify-content: center;
           outline: none;
           color:white;
           border-radius: 24px;
           background-color: #191919;
           font-size: 20px;
           transition: 0.3s;
  }

 #play:hover {
  background-color: red;
  color: white;
}

  b{
    position: relative;
    left: 10px;
  }

  @media only screen and (min-width: 768px){
    #score{
      font-size: 50px;
    }
    #bestinfo{
      
   font-size: 40px;

    }
    #messaginfo{

 
     font-size: 40px;
    }
    #scorev{
      
      
    font-size: 40px;
        
    }
    #play{
      font-size: 40px;
    }
    #Message{
      font-size: 40px;
    }
  }

 @keyframes animat {
  from {
  top: -40%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 0
  }

  to{
    top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 1
  }
}

@keyframes toitrois  {
 0%{
  transform: translate(50%,50%);
   opacity: 0;

  
 }
  25%{
    transform: translate(20%,-50%);
  opacity: 0.1;

 }
 50%{
    transform: translate(-50%,30%);
  opacity: 0.2;

 }
 100%{
    transform: translate(-10%,50%);
  opacity: 0.1;
 
 }

}
